@{
    ViewData["Title"] = "About Page";
    Layout = "../Shared/_LayoutMain.cshtml";
}

<head>
    <title>About page</title>

</head>

<main class="main-wrapper">
    <!-- Start Breadcrumb Area  -->
    <div class="axil-breadcrumb-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-8">
                    <div class="inner">
                        <ul class="axil-breadcrumb">
                            <li class="axil-breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="separator"></li>
                            <li class="axil-breadcrumb-item active" aria-current="page">About Us</li>
                        </ul>
                        <h1 class="title">Về cửa hàng</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4">
                    <div class="inner">
                        <div class="bradcrumb-thumb">
                            <img src="~/img/aboutusicon.png" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb Area  -->
    <!-- Start About Area  -->
    <div class="axil-about-area about-style-1 axil-section-gap ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-4 col-lg-6">
                    <div class="about-thumbnail">
                        <div class="thumbnail">
                            <img src="~/img/aboutus.jpg" alt="About Us">
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-6">
                    <div class="about-content content-right">
                        <span class="title-highlighter highlighter-primary2"> <i class="far fa-shopping-basket"></i>Cửa hàng</span>
                        <h3 class="title">Mua hàng trực tuyến chỉ với 1 nút nhấn.</h3>
                        <span class="text-heading">
                            Degital Delight có thể giúp bạn tạo ra những trải nghiệm thương mại số thông minh, thống nhất - cả trực tuyến và trong cửa hàng
                        </span>
                        <div class="row">
                            <div class="col-xl-6">
                                <p>
                                    Tăng cường đội ngũ bán hàng của bạn với các giải pháp được tinh chỉnh theo ngành,
                                    hỗ trợ các nhà sản xuất khi họ chuyển đổi sang kinh doanh số
                                    và nhanh chóng thích ứng với sự biến đổi của thị trường
                                    và khách hàng bằng cách tạo ra cơ hội kinh doanh mới
                                </p>
                            </div>
                            <div class="col-xl-6">
                                <p class="mb--0">
                                    Digital Delight mang đến cho người mua trải nghiệm mua sắm trực tuyến mượt mà,
                                    tự phục vụ với tất cả các tính năng của nền tảng trực tuyến.
                                    Nhấn vào 1 nút và trải nghiệm sự thuận tiện và tốc độ khi mua sắm trực tuyến!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area  -->
    <!-- Start About Area  -->
    <div class="about-info-area">
        <div class="container">
            <div class="row row--20">
                <div class="col-lg-4">
                    <div class="about-info-box">
                        <div class="thumb">
                            <img src="~/img/customer.png" alt="Shape">
                        </div>
                        <div class="content">
                            <h6 class="title">40,000+ khách hàng hài lòng với dịch vụ</h6>
                            <p>
                                Nâng cao trải nghiệm
                                mọi người đều hài lòng.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about-info-box">
                        <div class="thumb">
                            <img src="~/img/year.png" alt="Shape">
                        </div>
                        <div class="content">
                            <h6 class="title">16 năm hoạt động</h6>
                            <p>
                                Hành trình thành công mà
                                chúng tôi đồng hành với bạn.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about-info-box">
                        <div class="thumb">
                            <img src="~/img/award.png" alt="Shape">
                        </div>
                        <div class="content">
                            <h6 class="title">12 giải thưởng đạt được</h6>
                            <p>
                                Đẳng cấp và chất lượng
                                được chứng nhận qua từng danh hiệu.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area  -->
    <!-- Start Team Area  -->
    <div class="axil-team-area bg-wild-sand">
        <div class="team-left-fullwidth">
            <div class="container ml--xxl-0">
                <div class="section-title-wrapper">
                    <span class="title-highlighter highlighter-primary"> <i class="fas fa-users"></i>Thành viên</span>
                    <h3 class="title">Thành viên nòng cốt</h3>
                </div>
                <div class="team-slide-activation slick-layout-wrapper--20 axil-slick-arrow  arrow-top-slide">
                    <div class="slick-single-layout">
                        <div class="axil-team-member">
                            <div class="thumbnail"><img src="~/img/one.jpg" alt="Cody Fisher"></div>
                            <div class="team-content">
                                <span class="subtitle">Founder</span>
                                <h5 class="title">Châu Vĩnh Sinh</h5>
                            </div>
                        </div>
                    </div>
                    <div class="slick-single-layout">
                        <div class="axil-team-member">
                            <div class="thumbnail"><img src="~/img/one.jpg" alt="Thiện"></div>
                            <div class="team-content">
                                <span class="subtitle">CEO</span>
                                <h5 class="title">Trương Đức Thiện</h5>
                            </div>
                        </div>
                    </div>
                    <div class="slick-single-layout">
                        <div class="axil-team-member">
                            <div class="thumbnail"><img src="~/img/one.jpg" alt="Cody Fisher"></div>
                            <div class="team-content">
                                <span class="subtitle">Designer</span>
                                <h5 class="title">Nguyễn Minh Duy</h5>
                            </div>
                        </div>
                    </div>
                    <div class="slick-single-layout">
                        <div class="axil-team-member">
                            <div class="thumbnail"><img src="~/img/one.jpg" alt="Cody Fisher"></div>
                            <div class="team-content">
                                <span class="subtitle">Designer</span>
                                <h5 class="title">Tạ Hoàng Long</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Team Area  -->
    <!-- Start About Area  -->
    <!-- End About Area  -->
    <!-- Start Axil Newsletter Area  -->
    <div class="axil-newsletter-area axil-section-gap">
        <div class="container">
            <div class="etrade-newsletter-wrapper bg_image bg_image--5">
                <div class="newsletter-content">
                    <span class="title-highlighter highlighter-primary2"><i class="fas fa-envelope-open"></i>Tin tức</span>
                    <h2 class="title mb--40 mb_sm--30">Nhận tin tức mỗi ngày</h2>
                    <div class="input-group newsletter-form">
                        <div class="position-relative newsletter-inner mb--15">
                            <input placeholder="example@gmail.com" type="text">
                        </div>
                        <button type="submit" class="axil-btn mb--15">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End .container -->
    </div>
    <!-- End Axil Newsletter Area  -->
</main>
