@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "404";
    Layout = "../Shared/_LayoutMain.cshtml";
}

<head>
    <title>Error</title>
</head>

    <a href="#top" class="back-to-top" id="backto-top"><i class="fal fa-arrow-up"></i></a>
  
    <section class="error-page onepage-screen-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="content" data-sal="slide-up" data-sal-duration="800" data-sal-delay="400">
                        <span class="title-highlighter highlighter-secondary"> <i class="fal fa-exclamation-circle"></i> Có gì đó lạ.</span>
                        <h1 class="title">Trang không tìm thấy</h1>
                        <p>Chúng tôi không có thứ bạn đang tìm.</p>
                        <a asp-action="Home" asp-controller="Homepage" class="axil-btn btn-bg-secondary right-icon">Về lại trang chủ <i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="thumbnail" data-sal="zoom-in" data-sal-duration="800" data-sal-delay="400">
                        <img src="./eTrade/assets/images/others/404.png" alt="404">
                    </div>
                </div>
            </div>
        </div>
    </section>
