@{
	Layout = "../Shared/_LayoutAdmin.cshtml";
}
@model IEnumerable<DegitalDelight.Models.Warranty>
<div class="container mt-5">
	<div class="row tm-content-row">
		<div class="col-12 tm-block-col">
			<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
				<h2 class="tm-block-title">Search</h2>
				<div style="display: inline-flex; width: 100%">
					<input id="search_input" style="flex-grow: 1; background-color: #50657b; color: white">
					<i class="fa fa-search" style="float: right; font-size: 50px; color: white; padding-left: 10px"></i>
					</input>
				</div>
			</div>
		</div>
	</div>
	<div class="row tm-content-row">
		<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
			<div class="tm-bg-primary-dark tm-block tm-block-products">
				<div class="tm-product-table-container">
					<table id="table1" class="table table-hover tm-table-small tm-product-table">
						<thead>
							<tr>
								<th scope="col">WARRANTY NAME</th>
								<th scope="col">DURATION (MONTH)</th>
								<th scope="col">DESCRIPTION</th>
							</tr>
						</thead>
						<tbody id="warranty_table">
							@foreach (var warranty in Model)
							{
								<tr onclick="EditWarranty(@warranty.Id)">
									<td class="tm-product-name">@warranty.Name</td>
									<td>@warranty.Duration</td>
									<td>@warranty.Description</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
				<a asp-action="Create" asp-controller="Warranty"
				   class="btn btn-primary btn-block text-uppercase mb-3">Add new warranty</a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	function LoadWarranty(input) {
		var warrantytable = document.getElementById("warranty_table");
		warrantytable.innerHTML = ``;
		$.ajax({
			type: "GET",
			url: "/Admin/Warranty/Search",
			dataType: "json",
			async: true,
			data: { input: input },
			success: function (data) {
				$.each(data, function (key, value) {
					warrantytable.innerHTML = warrantytable.innerHTML + `
								<tr onclick="EditWarranty(${value.id})">
									<td class="tm-product-name">${value.name}</td>
									<td>${value.duration}</td>
									<td>${value.description}</td>
								</tr>
							`
				})
			},
			failure: function (err) {
			}
		})
	}

	var input = document.getElementById("search_input");
	input.addEventListener("keydown", function (e) {
		if (e.keyCode === 13) {
			e.preventDefault();
			LoadWarranty(input.value);
		}
	});
	function EditWarranty(WarrantyId) {
		window.location = "Edit/" + WarrantyId
	}
</script>