@page
@model RegisterModel
@{
	ViewData["Title"] = "Register";
	Layout = "./_LayoutAccount.cshtml";
}
<div class="axil-signin-area">

	<!-- Start Header -->
	<div class="signin-header">
		<div class="row align-items-center">
			
			<div class="col-md-6">
				<div class="singin-header-btn">
					<p>Already a member?</p>
					<a asp-page="/Account/Login" class="axil-btn btn-bg-secondary sign-up-btn">Sign In</a>
				</div>
			</div>
		</div>
	</div>
	<!-- End Header -->

	<div class="row">
		<div class="col-xl-4 col-lg-6">
			<div class="axil-signin-banner bg_image bg_image--10">
				<h3 class="title">Chúng tôi cung cấp dịch vụ tốt nhất</h3>
			</div>
		</div>
		<div class="col-lg-6 offset-xl-2">
			<div class="axil-signin-form-wrap">
				<div class="axil-signin-form">
					<h3 class="title">Người mới</h3>
					<p class="b2 mb--55">Nhập thông tin</p>
					<form id="RegisterForm" class="singin-form" asp-route-returnUrl="@Model.ReturnUrl" method="post">
						<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
						<div class="form-group">
							<label>Email</label>
							<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
							<span asp-validation-for="Input.Email" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label>Password</label>
							<input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password">
							<span asp-validation-for="Input.Password" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label>Password</label>
							<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
							<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
						</div>
						<div class="form-group">
							<button type="submit" class="axil-btn btn-bg-primary submit-btn">Tạo tài khoản</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>