@{
	Layout = "../Shared/_LayoutAdmin.cshtml";
}
@model DegitalDelight.Models.DTO.SupplyDTO;
<div class="container tm-mt-big tm-mb-big">
	<div class="row">
		<div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
			<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
				<div class="row">
					<div class="col-12">
						<h2 class="tm-block-title d-inline-block">Nhập hàng</h2>
					</div>
				</div>
				<div>
					<form asp-action="Create" asp-controller="Supply" method="post" class="tm-edit-product-form">
						<div class="col-xl-12 col-lg-12 col-md-12">
							<input asp-for="ProductId" value="@ViewBag.Product.Id" hidden/>
							<div class="form-group mb-3">
								<label for="name">
									Tên sản phẩm
								</label>
								<input id="name"
									   type="text"
									   class="form-control validate"
									   style="background-color: #54657d; opacity: 0.5"
									   disabled
									   value="@ViewBag.Product.Name"/>
							</div>
							<div class="form-group mb-3">
								<label for="name">
									Số lượng
								</label>
								<input id="brand"
									   type="text"
									   class="form-control validate"
									   required 
									   asp-for="Amount"/>
							</div>
							<div class="form-group mb-3">
								<label for="name">
									Ngày nhập
								</label>
								<input id="date"
									   type="text"
									   class="form-control validate"
									   style="background-color: #54657d; opacity: 0.5"
									   value="@DateTime.Now"
									   disabled/>
							</div>
							<div class="form-group mb-3">
								<label for="price">
									Giá
								</label>
								<input id="price"
									   type="text"
									   class="form-control validate"
									   required
									   asp-for="Price" />
							</div>
						</div>
						<button type="submit" class="btn btn-primary btn-block text-uppercase">Nhập hàng</button>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>
