@{
	Layout = "../Shared/_LayoutAdmin.cshtml";
}
@model DegitalDelight.Models.DTO.ProductDTO;
<div class="container tm-mt-big tm-mb-big">
	<div class="row">
		<div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
			<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
				<div class="row">
					<div class="col-12">
						<h2 class="tm-block-title d-inline-block">Add Product</h2>
					</div>
				</div>
				<div>
					<form asp-action="Edit" asp-controller="Products" method="post" class="tm-edit-product-form">
						<div class="col-xl-12 col-lg-12 col-md-12">
							<input asp-for="Id" hidden />
							<div class="form-group mb-3">
								<label for="name">
									Product Name
								</label>
								<input id="name"
									   type="text"
									   class="form-control validate"
									   required
									   asp-for="Name" />
							</div>
							<div class="form-group mb-3">
								<label for="description">Description</label>
								<textarea class="form-control validate"
										  rows="3"
										  required
										  asp-for="Description"></textarea>
							</div>
							<div class="form-group mb-3">
								<label for="category">Category</label>
								<select class="custom-select tm-select-accounts"
										id="category" asp-items="ViewBag.ProductTypes"
										asp-for="ProductTypeId">
								</select>
							</div>
							<div class="form-group mb-3">
								<label for="name">
									Brand
								</label>
								<input id="brand"
									   type="text"
									   class="form-control validate"
									   required
									   asp-for="Brand" />
							</div>
							<div class="form-group mb-3">
								<label for="price">
									Price
								</label>
								<input id="price"
									   type="text"
									   class="form-control validate"
									   required
									   asp-for="Price" />
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
							<div class="tm-product-img-dummy mx-auto">
								<i class="fas fa-cloud-upload-alt tm-upload-icon"
								   onclick="document.getElementById('fileInput').click();"></i>
							</div>
							<div class="custom-file mt-3 mb-3">
								<input id="fileInput" type="file" style="display:none;" />
								<input type="button"
									   class="btn btn-primary btn-block mx-auto"
									   value="UPLOAD PRODUCT IMAGE"
									   onclick="document.getElementById('fileInput').click();" />
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
							<button type="button" class="btn btn-primary btn-block text-uppercase" onclick="addInputFields()">Add Product Fields</button>
						</div>

						<div id="atfield">

							@{
								int i = 1;
								foreach (var productdetail in Model.ProductDetails)
								{
									<div class="row tm-edit-product-row align-items-center">
										<div class="col-xl-5 col-lg-5 col-md-5">
											<div class="form-group mb-3">
												<label for="name-@i">Property Name</label>
												<input id="propertyname-@i" name="name-@i" type="text" class="form-control validate" required asp-for="@productdetail.Property" />
											</div>
										</div>
										<div class="col-xl-5 col-lg-5 col-md-5">
											<div class="form-group mb-3">
												<label for="value-@i">Product Value</label>
												<input id="valuename-@i" name="value-@i" type="text" class="form-control validate" required asp-for="@productdetail.Value" />
											</div>
										</div>
										<div class="col-xl-2 col-lg-2 col-md-2">
											<button type="button" class="btn btn-sm btn-danger btn-block mt-md-1 mt-1" onclick="removeInputFields(this)">X</button>
										</div>
									</div>
									i++;
								}
								
							}
						</div>


						<button type="submit" class="btn btn-primary btn-block text-uppercase">Save Change</button>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>
<script>
	var inputCounter = 100;

	function addInputFields() {

		var newRow = document.getElementById('atfield');
		var currentCounter = inputCounter++;
		var newElement = document.createElement("div");
		newElement.className = "row tm-edit-product-row align-items-center";
		newElement.innerHTML = `
						<div class="col-xl-5 col-lg-5 col-md-5">
							<div class="form-group mb-3">
								<label for="name-${currentCounter}">Property Name</label>
								<input id="propertyname-${currentCounter}" name="name-${currentCounter}" type="text" class="form-control validate" required />
							</div>
						</div>
						<div class="col-xl-5 col-lg-5 col-md-5">
							<div class="form-group mb-3">
								<label for="value-${currentCounter}">Product Value</label>
								<input id="valuename-${currentCounter}" name="value-${currentCounter}" type="text" class="form-control validate" required />
							</div>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-2">
							<button type="button" class="btn btn-sm btn-danger btn-block mt-md-1 mt-1" onclick="removeInputFields(this)">X</button>
						</div>
					`
		newRow.appendChild(newElement);
	}
	function removeInputFields(button) {
		var row = button.parentElement.parentElement;
		row.parentNode.removeChild(row);
	}
</script>
