@{
    ViewData["Title"] = "Wishlist";
    ViewData["ProductImageUrl"] = "/img/product";
    Layout = "../Shared/_LayoutMain.cshtml";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject DegitalDelight.Services.Interfaces.IUserService userService

<main class="main-wrapper">

    <!-- Start Wishlist Area  -->
    <div class="axil-wishlist-area axil-section-gap">
        <div class="container">
            <div class="product-table-heading">
                <h4 class="title">Wishlist</h4>
            </div>
            <div class="table-responsive">
                <table class="table axil-product-table axil-wishlist-table">
                    <thead>
                        <tr>
                            <th scope="col" class="product-remove"></th>
                            <th scope="col" class="product-thumbnail">Sản phẩm</th>
                            <th scope="col" class="product-title"></th>
                            <th scope="col" class="product-price">Giá</th>
                            <th scope="col" class="product-add-cart"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            foreach (var item in await userService.GetFavorites())
                            {
                                <tr>
                                    <td class="product-remove">
                                        <a onclick="RemoveFavorite(@item.Id)" class="remove-wishlist">
                                            <i class="fal fa-times"></i>
                                            </a></td>
                                    <td class="product-thumbnail">
                                        <a href="single-product.html">
                                            <img src="@ViewData["ProductImageUrl"]/@item.Product.Picture" alt="Digital Product">
                                        </a>
                                    </td>
                                    <td class="product-title">
                                        <a href="single-product-3.html">@item.Product.Name</a>
                                    </td>
                                    <td class="product-price" data-title="Price">
                                        <span class="currency-symbol">@item.Product.Price</span> VNĐ
                                    </td>
                                    <td class="product-add-cart"><a asp-action="AddItemToCart" asp-controller="Cart" class="axil-btn btn-outline">Thêm vào giỏ</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- End Wishlist Area  -->
</main>