@{
	Layout = "../Shared/_LayoutAdmin.cshtml";
}
@model IEnumerable<DegitalDelight.Models.Comment>
<div class="container mt-5">
	<div class="row tm-content-row">
		<div class="col-12 tm-block-col">
			<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
				<h2 class="tm-block-title">Search</h2>
				<div style="display: inline-flex; width: 100%">
					<input id="search_input" style="flex-grow: 1; background-color: #50657b; color: white">
					<i class="fa fa-search" style="float: right; font-size: 50px; color: white; padding-left: 10px"></i>
					</input>
				</div>
			</div>
		</div>
	</div>
	<div class="row tm-content-row">
		<div class="col-sm-12 col-md-12 tm-block-col">
			<div class="tm-bg-primary-dark tm-block tm-block-products">
				<div id="parenttable" class="tm-product-table-container">
					<table id="display_comment" class="table table-hover tm-table-small tm-product-table">
						<thead>
							<tr>
								<th scope="col">USERNAME</th>
								<th scope="col">PRODUCT NAME</th>
								<th scope="col">CONTENT</th>
								<th scope="col">&nbsp;</th>
							</tr>
						</thead>
						<tbody id="comment_table">
							@foreach (var comment in Model)
							{
								<tr>
									<td class="tm-product-name">@comment.User.UserName</td>
									<td><a asp-action="Product" asp-controller="Product" asp-route-id="@comment.Product.Id" asp-area="" style="color: khaki">@comment.Product.Name</a></td>
									<td>@comment.Content</td>
									<td>
										<a href="#" class="tm-product-delete-link">
											<i class="far fa-trash-alt tm-product-delete-icon"></i>
										</a>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	function LoadComment(input) {
		var cmttable = document.getElementById("comment_table");
		cmttable.innerHTML = ``;
		$.ajax({
			type: "GET",
			url: "/Admin/Comment/Search",
			dataType: "json",
			async: true,
			data: { input: input },
			success: function (data) {
				$.each(data, function (key, value) {
					cmttable.innerHTML = cmttable.innerHTML + `
						<tr>
							<td class="tm-product-name">${value.user.userName}</td>
							<td><a href="~/Product/${value.product.id}" style="color: khaki">${value.product.name}</a></td>
							<td>${value.content}</td>
							<td>
									<a href="Delete/${value.id}" class="tm-product-delete-link">
									<i class="far fa-trash-alt tm-product-delete-icon"></i>
								</a>
							</td>
						</tr>
					`
				})
			},
			failure: function (err) {
			}
		})
	}

	var input = document.getElementById("search_input");
	input.addEventListener("keydown", function (e) {
		if (e.keyCode === 13) {
			e.preventDefault();
			LoadComment(input.value);
		}
	});
</script>