@{
	Layout = "../Shared/_LayoutAdmin.cshtml";
}
@model IEnumerable<DegitalDelight.Models.Comment>
<div class="container mt-5">
	<div class="row tm-content-row">
		<div class="col-12 tm-block-col">
			<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
				<h2 class="tm-block-title">Search</h2>
				<div style="display: inline-flex; width: 100%">
					<input id="search_input" style="flex-grow: 1; background-color: #50657b; color: white" placeholder="Search" class="placeholder-white" onkeyup="Search()">
					<i class="fa fa-search" style="float: right; font-size: 50px; color: white; padding-left: 10px"></i>
					</input>
				</div>
			</div>
		</div>
	</div>
	<div class="row tm-content-row">
		<div class="col-sm-12 col-md-12 tm-block-col">
			<div class="tm-bg-primary-dark tm-block tm-block-products">
				<div class="tm-product-table-container">
					<table id="display_comment" class="table table-hover tm-table-small tm-product-table">
						<thead>
							<tr>
								<th scope="col">USERNAME</th>
								<th scope="col">PRODUCT NAME</th>
								<th scope="col">CONTENT</th>
								<th scope="col">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var comment in Model)
							{
								<tr>
									<td class="tm-product-name">@comment.User.UserName</td>
									<td><a asp-action="Product" asp-controller="Product" asp-route-id="@comment.Product.Id" asp-area="" style="color: khaki">@comment.Product.Name</a></td>
									<td>@comment.Content</td>
									<td>
										<a href="#" class="tm-product-delete-link">
											<i class="far fa-trash-alt tm-product-delete-icon"></i>
										</a>
									</td>
								</tr>
							}

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<footer class="tm-footer row tm-mt-small">
	<div class="col-12 font-weight-light">
		<p class="text-center text-white mb-0 px-4 small">
			Copyright &copy; <b>2018</b> All rights reserved.

			Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
		</p>
	</div>
</footer>
<script type="text/javascript">
    function LoadComment(input) {
        let count = 0;
        var comments = [];
		console.log(input);
        $.ajax({
            type: "GET",
            url: "/Admin/Comment/Search",
            dataType: "json",
            async: true,
            data: { input: input },
            success: function (data) {
				console.log(data);
            },
            failure: function (err) {
            }
        })
        var dtb = document.getElementById('display_comment').DataTable({
            "destroy": true,
            "order": [[1, 'asc']],
            "bLengthChange": false,
            "bInfo": false,
            "searching": false,
            "paging": false,
            "data": comments,
            "columnDefs": [
                { className: "first_row_center", "targets": [0] },
                { className: "cursor_pointer", "targets": '_all' },
            ],
        });

        // dtb.on('order.dt search.dt', function () {
        //     let i = 1;

        //     dtb.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
        //         this.data(i++);
        //     });
        // }).draw();

        // dtb.on('click', 'tr', function (e) {
        //     $('#userIdText').val(dtb.row(this).data()[1]);
        //     LoadClassmate("Model.Id", dtb.row(this).data()[1]);
        // });

        // if (finduser.length == 1) {
        //     localStorage.setItem('UserFound', finduser[0][1])
        // }
        // else {
        //     localStorage.setItem('UserFound', 'NotFound');
        // }
    }

	function Search() {
		var input = document.getElementById("search_input").value;
        LoadComment(input);
    };
</script>